    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <div class="">
        <div id="root">{{appLogo}}{{appName}}<sub>{{appSlogan}}</sub></div>
    </div>
 <h2>Your Links:</h2>
<ul data-repeat="links as link">
    <li data-repeat-item="link">
        <a href="link[url]">link[text]</a>
    </li>
</ul>
    <div data-key="view"></div>
    <footer>
        <div>{{ myFunc(data) }}</div>
        <div>{{appCopyright}}</div>
    </footer>
