RewriteEngine On

# Prevent directory listing
Options -Indexes
# Redirect root URL (e.g., http://example.com or http://example.com/) to index.php
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ _index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ _index.php [L]