<!DOCTYPE html>
<html>
<head>
  <title>{{ appTitle }}</title>
</head>
<body>
  <div class="app-container">
    <div class="container-header">
      <brand>
        <i class="bi bi-lightning-charge"></i>
        <h3>{{ appTitle }}</h3>
      </brand>
    </div>
    <div class="container-nav">
      {{ frgNav }}
   </div>
    <!--The view will start here-->
    <div id="data-view">
    </div>
    <!--The view will end here-->
    <div class="container-footer">
      <div class="footer-legal">

      </div>
      <div class="footer-copy">
        <p>&copy; 2023 {{ appTitle }} All rights reserved.</p>
      </div>
      <div class="footer-social">
      </div>
      
    </div>
  </div>
</body>
</html>
