/* Base Variables */
:root {
    
  --font-size: 14px;
  --app-window-width: 90%;
  --font-size: calc(var(--font-size) / 16 * 1rem); /* normalize px to rem */
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-text: #212529;
  --color-link-text: #0d6efd;
  --color-text-drk: #cccccc;
  --color-link-text-drk: #007bff;
  --default-font: 'Segoe UI', sans-serif;
}

/* Breakpoint 1: ≤576px (default already set in :root) */
/**
*  :root {
    --font-size: 14px;
    --app-window-width: 90%;
  }
*
*/
/* Breakpoint 2: ≥768px */
@media (min-width: 768px) {
  :root {
    --font-size: 15px;
    --app-window-width: 85%;
  }
}

/* Breakpoint 3: ≥920px */
@media (min-width: 920px) {
  :root {
    --font-size: 16px;
    --app-window-width: 80%;
  }
}

/* Breakpoint 4: ≥1200px */
@media (min-width: 1200px) {
  :root {
    --font-size: 17px;
    --app-window-width: 75%;
  }
}

/* Breakpoint 5: ≥1400px */
@media (min-width: 1400px) {
  :root {
    --font-size: 18px;
    --app-window-width: 70%;
  }
}

/* Breakpoint 6: >1400px */
@media (min-width: 1401px) {
  :root {
    --font-size: 19px;
    --app-window-width: 65%;
  }
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--font-size);
}
/* Base style */
body {
  display:flex;
  background-color: var(--color-primary);
  font-size: 1rem;
}

.app-container {
  width: var(--app-window-width);
  margin: 0 auto;
  padding: 1rem;
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
}
